<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config</title>
    <style>
        #wrapper {
            margin: auto;
            width: fit-content;
        }

        fieldset {
            width: 250px;
        }

        #submit {
            margin-top: 10px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('form').submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: $('form').serialize(),
                    success: function () {
                        alert('Lưu thành công');
                    }
                });
            });
        });
    </script>
</head>

<body>
    <div id="wrapper">
        <h1>Tùy chỉnh điều kiện</h1>
        <form>
            <fieldset>
                <legend>Ngưỡng giá cần thông báo</legend>
                <div>
                    <input type="number" step="0.00001" name="price">
                </div>
            </fieldset>
            <button type="submit" id="submit">Lưu tùy chỉnh</button>
        </form>
    </div>
</body>
</html>